
$bg-color-green: #095c14;
$color-fuente: white;
$altura:100%;
$tamaño-fuente:18px;


$redes:( 
        facebook: #3b5999, 
        instagram:#e4405f,
        whatsapp: #00bb2d
);


$estilos:(
        centro: center,
        tfuente: 18px,
        padding: 1px 10px
);

